<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="" />
    <add key="MicrosoftAppId" value="" />
    <add key="MicrosoftAppPassword" value="" />
    <!-- Skype ID credentials -->
    <add key="Domain" value="" />
    <add key="UserName" value="" />
    <add key="Password" value="" />
    <!-- Since the flow is already known for this Skype ID, using the Lync Server OAuth 
         endpoint url and UCWA applications resource endpoint url -->
    <!-- Lync server OAuth endpoint url -->
    <add key="LyncOAuthUrl" value="" />
    <!-- UCWA applications resource endpoint url-->
    <add key="UCWAApplicationsUrl" value="" />
    <!-- UCWA applications host -->
    <add key="UCWAApplicationsHost" value="" />
    <!-- Proxy details -->
    <add key="proxyaddress" value="" />
    <add key="proxyusername" value="" />
    <add key="proxypassword" value="" />
    <!-- App Insights key -->
    <add key="AppInsightsIKey" value="" />
  </appSettings>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="false">
      <module type="SFBBot_UCWA.MyProxy, SFBBot-UCWA" />
    </defaultProxy>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bot.Connector" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.11.1.0" newVersion="3.11.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>